
.container{
    width:60%;
    display:grid;
    grid-template-columns: (5, 1fr);
    grid-gap:10px;
    grid-auto-rows: minmax(50px, auto);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    margin: 100px auto;

}
header{
    grid-column: 1/5;
    background-color: blueviolet;
    color:bisque;
}
main{
    grid-column: 1/4;
    grid-row: 2/4;
    background-color:chartreuse;
    color:red;  
}
section{
    grid-column: 1/4;
    grid-row: 4/6;
    background-color:rgb(218, 106, 190);
    color:rgb(15, 75, 9);
}
aside{
    grid-column: 4/5;
    grid-row: 2/6;
    background-color:rgb(132, 100, 219);
    color:rgb(241, 245, 11);}
footer{
    grid-column: 1/5;
    grid-row: 6/7;
    background-color:rgb(32, 102, 35);
    color:rgb(46, 13, 30);
 
}